@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

/* Убирает крестик в Internet Explorer */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/* Убирает отступы в кнопках в Mozilla Firefox */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* -------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #303030;
}

.body--is-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.reference::before {
  content: "";
  margin-right: 20px;
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
}

.light-reference {
  color: rgba(157, 164, 189, 0.6);
}

.dark-reference {
  color: #303030;
}
.dark-reference::before {
  content: "";
  margin-right: 20px;
  height: 1px;
  width: 60px;
  background-color: #303030;
}

.hero__reference {
  letter-spacing: 0.1em;
}

.title {
  font-family: "Raleway", sans-serif;
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #ff6c00;
}

.btn {
  padding: 12px 20px;
  min-width: 160px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.dark-btn {
  color: #ffffff;
}
.dark-btn:hover, .dark-btn:focus {
  background-color: #ff6c00;
}

.white-btn {
  color: #303030;
}
.white-btn:hover, .white-btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 15px 30px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 500px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  width: 30px;
  height: 30px;
  color: #303030;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.modal-close {
  fill: currentColor;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.social::before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 40px;
  margin-bottom: 24px;
  background-color: #303030;
}

.social__item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 24px;
}
.social__item:last-child {
  margin-left: 100px;
}

.social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: #303030;
}

@media screen and (min-width: 1200px) {
  .container-book-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: linear-gradient(to left, #191c26 50%, url(../image/contacts/contacts_bg-desktop.png) 50%);
    background-color: #111319;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .header {
    pointer-events: none;
    height: 100%;
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    z-index: 1;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: visible;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 32px 0;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 110px;
  }
}

.logo {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo {
    fill: #303030;
  }
}

.menu__button {
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.icon-menu {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
    padding-top: 118px;
    padding-left: 40px;
    padding-bottom: 227px;
    padding-right: 15px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 40px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-right: 20px;
  }
}

.menu__button-close {
  position: absolute;
  top: 48px;
  right: 15px;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button-close:hover, .menu__button-close:focus {
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .menu__button-close {
    display: none;
  }
}

.icon-close {
  fill: currentColor;
}

.menu {
  opacity: 1;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button--is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(25, 28, 38, 0.2);
}
.menu__button--is-open .icon-menu {
  display: none;
}
.menu__button--is-open .icon-close {
  display: block;
}
.menu__button--is-open .header__wrapper {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    margin-right: 254px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 12px;
    line-height: 1.3333333333;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__tel {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}
@media screen and (max-width: 767px) {
  .header__tel {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .header__tel {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .header__tel {
    font-size: 12px;
    line-height: 1.3333333333;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .header__tel {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__btn {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header__btn {
    color: #ffffff;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__social {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 208px 0;
    background-image: url(../image/hero/phone/slider-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 40px;
  gap: 40px;
  width: 120px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 767px) {
  .hero__social {
    display: none;
  }
}
.hero__social::before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: #303030;
}

.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    height: 680px;
    max-width: 570px;
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;
    padding-right: 90px;
    background-image: url(../image/hero/tablet/slider-3_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper {
    height: 680px;
    max-width: 1070px;
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    padding-right: 526px;
    background-image: url(../image/hero/desktop/slider-3_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1805555556;
  }
}

.hero__descrp {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 1200px) {
  .hero__descrp {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.about {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 0;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.about__descrp {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__descrp {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 42px;
  }
}

.about__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.service {
  padding: 84px 0;
  background-image: url(../image/services/service.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .service {
    padding: 100px 0;
    background-image: url(../image/services/service_tablet.png);
  }
}
@media screen and (min-width: 1200px) {
  .service {
    padding: 120px 0;
    background-image: url(../image/services/service_desktop.png);
  }
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .service__title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.service__list {
  padding: 30px 0;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 44px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 768px) {
  .service__list {
    padding: 32px 0;
    padding-left: 40px;
    padding-right: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background: transparent;
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .service__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .service__item {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }
  .service__item:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .service__item:last-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__price:not(:last-child) {
  margin-bottom: 20px;
}
.item__price::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 1px;
  margin: 0 4px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__title {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .price__title {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.price__descrp {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .price__descrp {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.reviews {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 120px 0;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.reviews__descrp {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (max-width: 1199px) {
  .reviews__descrp {
    margin-bottom: 44px;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .reviews__list {
    padding-left: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__list {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.reviews__item {
  padding: 20px 0;
  width: calc((100% - 30px) / 2);
  height: 133px;
  text-align: center;
  background-color: #f7f7f7;
}
.reviews__item:nth-child(2) {
  margin-top: 35px;
  margin-bottom: 30px;
}
.reviews__item:nth-child(3) {
  margin-top: -35px;
}
.reviews__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.reviews__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}
.reviews__number sup {
  padding-top: 14px;
  padding-left: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}

.reviews__number-descrp {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: #303030;
}

.barbers {
  padding: 84px 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .barbers {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .barbers {
    padding: 120px 0;
  }
}

.barbers__title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .barbers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .barbers__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.barbers-wrapper {
  padding-top: 30px;
  text-align: center;
}

.barbers__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.barbers__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.barbers__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  color: #303030;
  background-color: #ffffff;
  border-radius: 50%;
}

.barbers__svg {
  fill: currentColor;
}

.portfolio {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio__reference {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .portfolio__reference {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.booking {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .booking {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .booking__container {
    width: 50%;
  }
}

.booking__title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .booking__title {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .booking__form {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .booking__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.booking__label,
.booking__message {
  position: relative;
  display: block;
  margin-bottom: 44px;
  text-align: center;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .booking__label,
.booking__message {
    width: 50%;
  }
}
.booking__label:focus-within,
.booking__message:focus-within {
  color: #ffffff;
}
.booking__label span,
.booking__message span {
  position: absolute;
  top: 0;
  left: 0;
}

.booking__input {
  width: 100%;
  padding-bottom: 8px;
  padding-left: 60px;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: currentColor;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.booking__input:focus {
  border-color: #ffffff;
}

.booking__message {
  width: 100%;
}

.booking__textarea {
  height: 76px;
  width: 100%;
  padding-top: 16px;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: currentColor;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.booking__textarea:focus {
  border-color: #ffffff;
}

.contacts {
  padding: 84px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__container {
    margin: 0;
    padding: 0;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .contacts__wrapper {
    width: 280px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: start;
  }
}

.contacts__address {
  margin-bottom: 44px;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

.address__map {
  font-weight: 700;
}

.address__mail {
  text-decoration: underline;
}

.address__icon {
  margin-right: 16px;
  stroke: currentColor;
}

@media screen and (max-width: 1199px) {
  .contacts__box {
    padding-right: 105px;
  }
}

.contacts__time {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding: 44px 0;
  color: #f7f7f7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  padding-top: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}
.footer__list::before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: #303030;
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */