.about {
	padding: 84px 0;

	@media screen and (min-width: 768px) {
		padding: 100px 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 120px 0;
	}
}

.about__container {
	display: flex;
	gap: 30px;
}

.about__list {
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.about__item {
	@media screen and (max-width: 1199px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.about__img {
}

.about__wrapper {
	@media screen and (min-width: 768px) {
		width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-direction: column;
	}
}

.about__title {
	margin-bottom: 20px;

	font-weight: 700;
	@include font-line(28px, 33px);
	letter-spacing: 0.05em;
	color: $primary-text-color;

	@media screen and (min-width: 1200px) {
		@include font-line(42px, 49px);
	}
}

.about__descrp {
	margin-bottom: 20px;

	@include font-line(16px, 26px);
	letter-spacing: 0.02em;
	color: $tertiary-text-color;

	@media screen and (min-width: 768px) {
		@include font-line(18px, 30px);
	}
}

.about__text {
	margin-bottom: 40px;

	@include font-line($line-height: 26px);
	letter-spacing: 0.02em;
	color: $tertiary-text-color;

	@media screen and (min-width: 768px) {
		margin-bottom: 77px;
	}

	@media screen and (min-width: 1200px) {
		flex-grow: 1;
		margin-bottom: 42px;
	}
}

.about__btn {
	align-self: flex-start;
}
