.booking {
	padding: 84px 0;
	background-color: $dark-blue-bg-color;

	@media screen and (min-width: 768px) {
		padding: 100px 0;
	}

	@media screen and (min-width: 1200px) {
		background: none;
		width: calc(100% / 2);

		padding-top: 130px;
		padding-right: 30px;
	}
}

.booking__container {
	@media screen and (min-width: 1200px) {
		margin: 0;
		padding: 0;
	}
}

.booking__title {
	margin-bottom: 44px;

	font-weight: 700;
	@include font-line(42px, 49px);
	letter-spacing: 0.05em;
	text-align: center;

	color: $quaternary-text-color;

	@media screen and (min-width: 768px) {
		text-align: start;
	}
}

.booking__form {
	@media screen and (max-width: 767px) {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		width: calc(50% - 30px);
	}
}

.booking__wrapper {
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 30px;
	}
}

.booking__label,
.booking__message {
	position: relative;
	display: block;
	margin-bottom: 44px;

	text-align: center;
	color: rgba(157, 164, 189, 0.4);

	@include font-line(11px, 15px);
	text-transform: uppercase;

	@media screen and (min-width: 768px) {
		width: calc(100% / 2);
	}

	&:focus-within {
		color: $quaternary-text-color;

		& span {
		}
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.booking__input {
	width: 100%;
	padding-bottom: 8px;
	padding-left: 60px;

	background-color: transparent;

	font-weight: 600;
	@include font-line(11px, 15px);
	letter-spacing: 0.1em;
	color: currentColor;

	border-bottom: 1px solid rgba(157, 164, 189, 0.4);

	&:focus {
		border-color: $quaternary-text-color;
	}
}

.booking__message {
	width: 100%;
}

.booking__textarea {
	height: 76px;
	width: 100%;
	padding-top: 16px;

	overflow: hidden;

	resize: none;

	background-color: transparent;
	font-weight: 600;
	@include font-line(11px, 15px);
	letter-spacing: 0.1em;
	color: currentColor;

	border-bottom: 1px solid rgba(157, 164, 189, 0.4);

	&:focus {
		border-color: $quaternary-text-color;
	}
}
