.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 40px;

	background-color: transparent;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
}

.logo {
	fill: $quaternary-text-color;
}

.menu__button {
}

.icon-menu {
}

.icon-close {
}

.header__wrapper {
	display: none;
}

.header__nav {
}

.nav {
}

.nav__list {
}

.nav__item {
}

.nav__link {
}

.header__tel {
}
.header__btn {
}
.btn {
}
.header__social {
}
.social {
}
.social__item {
}
.social__link {
}
