.hero {
	@media screen and (max-width: 767px) {
		padding: 208px 0;

		background-image: url(../image/hero/phone/slider-3.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.hero__container {
	display: flex;
	justify-content: space-between;
}

.hero__social {
	@media screen and (max-width: 767px) {
		display: none;
	}

	display: flex;
	align-items: center;
	padding-top: 38px;
	padding-right: 40px;
	padding-left: 68px;
	gap: 40px;

	width: 120px;

	writing-mode: vertical-rl;
	transform: rotate(-180deg);

	&::before {
		content: "";
		width: 1px;
		height: 60px;

		background-color: $primary-text-color;
	}
}
.hero__item {
}
.hero__link {
	font-weight: 600;
	@include font-line(11px, 15px);
	letter-spacing: 0.2em;
	color: $primary-text-color;
}
.link {
}

.hero-wrapper {
	@media screen and (min-width: 768px) {
		height: 680px;
		min-width: 570px;
		padding-top: 272px;
		padding-bottom: 237px;
		padding-left: 120px;
		padding-right: 90px;

		background-image: url(../image/hero/tablet/slider-3_tablet.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.hero__title {
	margin-bottom: 20px;

	font-weight: 700;
	@include font-line(48px, 56px);
	letter-spacing: 0.05em;
	color: $quaternary-text-color;
}
.hero__descrp {
	@include font-line(16px, 26px);
	letter-spacing: 0.02em;
	color: $secondary-text-color;
}
