.portfolio {
	padding: 84px 0;
}

.portfolio__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio__item {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.portfolio__img {
}
