.reviews {
	padding: 84px 0;
}

.reviews__title {
	margin-bottom: 20px;

	font-weight: 700;
	@include font-line(42px, 49px);
	letter-spacing: 0.05em;
	color: $primary-text-color;
}

.reviews__descrp {
	margin-bottom: 44px;

	@include font-line(18px, 30px);
	letter-spacing: 0.02em;
	color: $tertiary-text-color;
}

.reviews__list {
	display: flex;
	flex-wrap: wrap;
}
.reviews__item {
	padding: 20px 0;
	width: calc((100% - 30px) / 2);

	text-align: center;
	background-color: $light-bg-color;
}
.reviews__number {
}
